server:
  port: 8087

spring:
  application:
    name: tarifa-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/tpi}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    compatibility-verifier:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

solicitud-service:
  url: ${SOLICITUD_SERVICE_URL:http://localhost:8085}

# ============================
#   PERFIL DOCKER
# ============================
---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://tarifa-db:5432/tarifa_db
    username: tarifa_user
    password: tarifa_pass

  cloud:
    compatibility-verifier:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/

solicitud-service:
  url: http://solicitud-service:8085
