spring:
  application:
    name: ruta-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8088/realms/tpi
  datasource:
    url: jdbc:postgresql://localhost:5432/ruta_db
    username: ruta_user
    password: ruta_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8086

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

---
# docker profile
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://ruta-db:5432/ruta_db

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/