server:
  port: 8761

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
  server:
    enableSelfPreservation: false

spring:
  application:
    name: eureka-server
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8088/realms/tpi