spring:
  application:
    name: contenedor-service
  
  # Database
  datasource:
    url: jdbc:postgresql://localhost:5432/contenedor_db
    username: contenedor_user
    password: contenedor_pass
    driver-class-name: org.postgresql.Driver
  
  # JPA/Hibernate
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Server
server:
  port: 8082

# Eureka Client
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://contenedor-db:5432/contenedor_db

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/